.nav {
  color: #ffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 60px;
}

.nav .logo {
  font-size: 45px;
  font-weight: 500;
  font-family: "outfit";
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 90px;
  list-style: none;
  font-size: 18px;
}

.contact-card {
  border-radius: 50px;
  padding: 8px 25px;
  background-color: rgb(255, 255, 255);
  color: black;
}
